USE [ERP_DB]
GO
/****** Object:  Table [dbo].[SalesSource]    Script Date: 10/1/2026 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesSource](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[ProductName] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[SaleDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesSource] ON 

INSERT [dbo].[SalesSource] ([SaleID], [CustomerName], [City], [Country], [ProductName], [Category], [Price], [Quantity], [SaleDate]) VALUES (1, N'Ali Yılmaz', N'Istanbul', N'Turkey', N'Laptop', N'Electronics', CAST(15000.00 AS Decimal(10, 2)), 1, CAST(N'2026-03-27T10:56:54.683' AS DateTime))
INSERT [dbo].[SalesSource] ([SaleID], [CustomerName], [City], [Country], [ProductName], [Category], [Price], [Quantity], [SaleDate]) VALUES (2, N'Ayşe Demir', N'Ankara', N'Turkey', N'Mouse', N'Electronics', CAST(300.00 AS Decimal(10, 2)), 2, CAST(N'2026-03-27T10:56:54.683' AS DateTime))
INSERT [dbo].[SalesSource] ([SaleID], [CustomerName], [City], [Country], [ProductName], [Category], [Price], [Quantity], [SaleDate]) VALUES (3, N'John Smith', N'London', N'UK', N'Office Chair', N'Furniture', CAST(2500.00 AS Decimal(10, 2)), 1, CAST(N'2026-03-27T10:56:54.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesSource] OFF
GO
